@import '../common/theme';

.footer {
  width: 100%;
  padding: 1rem 0 .6rem 0;
  margin: 1rem auto 0 auto;
  border-top: 1px solid map-get($primary, black);
  text-align: center;
  a {
    color: #000000;

    &:hover {
      text-decoration: underline;
    }
  }
}
