@import '../common/theme';

$brand-text-color: map-get($primary, white);
$nav-bg-color: map-get($primary, black);
$nav-fg-color: map-get($primary , green);
$active-link: lighten(map-get($primary, green), 30%);

.nav {
  background-color: $nav-bg-color;
  display: flex;
  align-items: center;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }

  &__menu-item {
    border-left: 1px solid $nav-fg-color;


    &:first-child {
      border-left: 0;
    }

    a {
      padding: .6rem;
      font-size: 1.3rem;
      color: $nav-fg-color;

      &:hover {
        color: $active-link;
      }
    }

    .active__link--color {
      color: $active-link;
    }
  }

  &__brand {
    position: relative;
    padding-left: .4rem;
    color: $brand-text-color;
    align-self: center;
    font-size: 1.5rem;

    .nav__logo {
      color: $brand-text-color;
    }
  }

  .theme-toggle {
    margin-left: auto;
    padding-right: .6rem;
    cursor: pointer;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    & {
      width: 100%;
    }
  }
}
