@import '../common/theme';

.paginator {
  margin-top: 1rem;
  padding-left: .6rem;

  a {
    color: map-get($primary, grey);

    &:hover {
      color: map-get($primary, black);
    }
  }

  &__previous {
    padding-right: .6rem;
  }

  &__more {
    padding-left: .6rem;
  }
  &__show-separator {
    border-right: 1px solid map-get($primary, grey)
  }
}
